
@font-face {
    font-family: 'sleepingregular';
    src: url('sleeping-webfont.woff2') format('woff2'),
         url('sleeping-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}